/*Mobile*/
@media(min-width: 576px)
{
    html 
    {
        min-height: 100%;
    }
    .body
    {
        background-color: rgb(126, 104, 90);
    }
    .welcomeText
    {
        font-size: 30pt;
        text-align: center;
    }
    #larry
    {
        margin-left: 20%;
        width: 158.8px;
        height: 218.4px;
    }
    #andrew
    {
        width: 158.8px;
        height: 218.4px;
    }
    #gl
    {
        width: 158.8px;
        height: 218.4px;
    }
    #ccoFist
    {
        margin-top: 2%;
        margin-left: 30%;
    }
    #colorGuard
    {
        margin-left: 19%;
        width: 238.2px;
        height: 327.57px;
    }
    #welcomeTexas
    {
        width: 238.2px;
        height: 327.57px;
    }
    #inf
    {
        margin-left: 23%;
        width: 207.6px;
        height: 207.6px;
    }
    #armyWoods
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;

        width: 207.6px;
        height: 207.6px;
    }
    #aboutMe
    {
        margin-left: 24%;
        margin-top: auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 300pt;
    }
    #postText
    {
        text-align: center;
        width: 200pt;
        margin-left: 34%;
    }

    .index
{
    padding-top: 5%;
    font-size: 15;
    text-align: center;
}
    
}

/* Desktop */
@media(min-width: 992px)
{
    html 
    {
        min-height: 100%;
    }
    .body
    {
        background-color: rgb(90, 126, 104);
    }
    .welcomeText
    {
        /* position: fixed;
        z-index: 1; */

        font-size: 60pt;
        text-align: center;
    }
    #larry
    {
        margin-left: 20%;
        width: 270px;
        height: 371.25px;
    }
    #andrew
    {
        width: 270px;
        height: 371.25px;
    }
    #gl
    {
        width: 270px;
        height: 371.25px;
    }
    #larryText
    {
        top: 50%;
        left: 50%;
        transform: translate(28%, 0%);
    }
    #middleTitle
    {
        font-size: 20pt;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-3%, -200%);
    }
    #ccoFist
    {
        margin-top: 2%;
        margin-left: 36%;
    }
    #colorGuard
    {
        margin-left: 5%;
        width: 238.2px;
        height: 327.57px;
    }
    #welcomeTexas
    {
        width: 238.2px;
        height: 327.57px;
    }
    #inf
    {
        width: 352.9px;
        height: 352.9px;
    }
    #armyWoods
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;

        width: 352.9px;
        height: 352.9px;
    }
    #aboutMe
    {
        margin-left: 20%;
        margin-top: auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 600pt;
    }
    #inf
    {
        margin-left: 10%;
    }
    #postText
    {
        text-align: center;
    }
    .index
    {
        padding-top: 5%;
        font-size: 15;
        text-align: center;
    }
}


