.button
{
    display: flex;
    flex-direction: column;
    text-align: auto;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.index
{
    /* float: left; */
    padding-top: 5%;
    /* font-size: pt; */
    text-align: center;
}

.header
{
    font-size: 30pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}