.portal
  {
    font-size: 45pt;
    
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
  }

a:link {
    color: rgb(0, 162, 255);
    background-color: black;
    text-decoration: none;
    opacity: 0.8;
  }
  a:visited {
    color: rgb(38, 0, 255);
    background-color: transparent;
    text-decoration: none;
    opacity: 0.6;
  }
  
  a:hover {
    color: rgb(0, 195, 255);
    background-color: transparent;
    text-decoration: underline;
    opacity: 1;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    opacity: 1;
  }

  body, html
  {
    height: 100%;
    background-color: black;
  }

  .img1, .img2, .img3, .img4,.img5,
  .img6,.img7,.img8,.img9,.img10
  {
    position: relative;
    opacity: 0.3;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img1{
    background-image: url(/Images_Final/LandingPage.png);
    min-height: 45%;
  }
  .img2{
    background-image: url(/Images_Final/Resume.png);
    min-height: 45%;
  }
  .img3{
    background-image: url(/Images_Final/ContactPage.png);
    min-height: 45%;
  }
  .img4{
    background-image: url(/Images_Final/ImageGallery.png);
    min-height: 45%;
  }
  .img5{
    background-image: url(/Images_Final/AboutMe.png);
    min-height: 45%;
  }
  .img6{
    background-image: url(/Images_Final/BarberShop.png);
    min-height: 45%;
  }
  .img7{
    background-image: url(/Images_Final/Blog.png);
    min-height: 45%;
  }
  .img8{
    background-image: url(/Images_Final/DummyDataFilter.png);
    min-height: 45%;
  }
  .img9{
    background-image: url(/Images_Final/Nasa.png);
    min-height: 45%;
  }
  .img10{
    background-image: url(/Images_Final/ResponsiveWebsite.png);
    min-height: 45%;
  }